body{
    margin: 0;
    font-family: 'Poppins';
}

div{
    font-size: 16px;
}

#header{
    width: 100%;
    height: 60px;
    background-color: #2a6086;
    display: flex;
    align-items: center;
    position: relative;
}

.headerelem{
    color: #ffffff;
    padding: 10px;
}

#entrar, #cadastrar, #user-menu{
    position: absolute;
    width: 130px;
    cursor: pointer;
}

#entrar{
    right:150px;
}

#cadastrar{
    right: 0px;
}

#user-menu{
    right: 0px;
    font-size: 25px;
    text-align: center;
}

#user-menu:hover{
    font-size: 28px;
}

#entrar:hover, #cadastrar:hover{
    background-color: #2194b1;
    font-size: 18px;
}

#corpo{
    background-image: linear-gradient(#bef4f4, #ffffff);
    min-height: calc(100vh - 60px);
    justify-content: center;
    display: flex;
    padding-top: 60px;
}

#container{
    width: 90%;
    background-color: #ffffff;
    border: .2px solid #2194b1;
}

#menu-container{
    display: none;
    position: absolute;
    width: 200px;
    right: 0;
    margin-right: 10px;
    top: 60px;
    background-color: #2a6086;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 1px #b6ebf8;
    z-index: 3;
}

.menu-head{
    border-bottom: solid .5px;
}

.menu-option{
    background-color: #2194b1;
    cursor: pointer;
}

.menu-option:hover{
    color: #e9f2f5
}

#login-container, #register-container{
    display: none;
    position: absolute;
    width: 290px;
    right: 5px;
    top: 60px;
    z-index: 3;
}

#login-box{
    border: 1px solid #000000;
    margin-top: 12px;
    border-radius: 0 5px;
    box-shadow: 2px 1px #2194b1;
    background-color: #2a6086;
    color: #ffffff;
}

#register-box{
    border: 1px solid #000000;
    margin-top: 12px;
    border-radius: 5px 0;
    box-shadow: 2px 1px #2194b1;
    background-color: #2a6086;
    color: #ffffff;
}

.hide{
    display: none;
}

.title{
    padding: 5px;
    text-align: center;
}

.text-input{
    border: none;
    border-bottom: solid 1px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    outline-width: 0;
}

.avaliar-input{
    border: none;
    border-bottom: solid 1px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    outline-width: 0;
}

.div-input{
    display: flex;
    justify-content: center;
}

.send{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.sendbtn{
    border: 1px solid;
    background-color: #2194b1;
    margin: 15px;
    cursor: pointer;
}

.errormsg{
    font-size: 13px;
    color: red;
    text-align: center;
}

.rotate {
    animation: rotation 2s infinite linear;
    display: none;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#left{
    width:40%;
    float: left;
}

#right{
    width: 60%;
    float: right;
}

#map{
    width: 100%;
    height:400px;
}

.mapboxgl-ctrl-geocoder--icon-search{
    display: none
}

.mapboxgl-ctrl-geocoder{
    width: 100%;
    margin: 0px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

#buscar-mapa{
    padding-top: 10px;
    text-align: center;
}

.mapboxgl-ctrl-geocoder--input{
    border-bottom: 1px solid !important;
    width: 80% !important;
    text-align: center;
}

  /*------------------------------------------------------------------
[ Loading ]*/

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b538f;
    opacity: 0.75;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2194b1;
    color: white;
  }

/* The Modal */
.modal2 {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(43,83,143,0.75); 
  }
  
  
  .modal2-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: #fefefe;
    /*border: 1px solid #888;*/
    border-radius: 4px;
    width: 30%; /* Full width */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  @-webkit-keyframes animatetop {
    from {top:0; opacity:0} 
    to {top:50%; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:0; opacity:0}
    to {top:50%; opacity:1}
  }
  
  .close {
    color: black;
    float: right;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal2-header {
    padding: 2px 16px;
    font-size: 18px;
    background: #2a6086;
    text-align: center;  
    color: #ffffff;
  }
  
  .modal2-body {
    padding: 8px 16px;    
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center; 
  }
  .modal3-body {
    padding: 8px 16px;    
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .myButton {
    box-shadow: 0px 10px 14px -7px #275b73;
    background:linear-gradient(to bottom, #04b4e0 5%, #5294b3 100%);
    background-color:#04b4e0;
    border-radius:4px;
    border:1px solid #386ab5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:8px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #0b99bd;
}
.myButton:hover {
    background:linear-gradient(to bottom, #5294b3 5%, #04b4e0 100%);
    background-color:#5294b3;
}
.myButton:active {
    position:relative;
    top:1px;
}

#button{
    position: relative;
    top: 100%;
    left: 45%;
}

.btn-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.mapboxgl-ctrl-logo{
    width: 0px !important;
}

.checked {
    color: orange;
  }

#info-hide-show{
  padding-top: 10px;
}